---
layout: none
title: none
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Dissertation</title>

  <meta name="author" content="Thomas R. Cook">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="/assets/themes/bootstrap/resources/bootstrap/css/jquery.tocify.css" rel="stylesheet"> -->
  <link href="/assets/themes/bootstrap/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/themes/bootstrap/resources/bootstrap/css/syntax_solarized.css" rel="stylesheet">
  <link href="/assets/themes/bootstrap/resources/bootstrap/css/my_css.css" rel="stylesheet">
  <link href="/assets/themes/bootstrap/resources/bootstrap/css/yamm.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/assets/themes/bootstrap/resources/respond/Respond.min.js"></script>
      <![endif]-->

      <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
      <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">


    </head>

    <body>


      <!-- del if not working -->


      <div class="container-fluid jumbotron " id="title">
        <row>
         <h1>My Dissertation </h1>
       </row>
     </div>


     <!--  end del if not working -->
     
     <div class="navbar yamm navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">My Dissertation</a>
        </div>
        <div id="navbar-collapse-1" class="navbar-collapse in collapse" style="height: auto;">
          <ul class="nav navbar-nav">
            <!-- Classic list -->
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Notebook<b class="caret"></b></a>
              <ul class="dropdown-menu navbar-default">
                <li>
                  <!-- Content container to add padding -->
                  <div class="yamm-content ">
                    <div class="row">

                      {% for cat in site.category-list %}
                      <ul class="col-sm-2 list-unstyled my-dropdown">
                        <li class="dropdown-heading  ">{{ cat }}</li>
                        {% for node in site.pages  %}
                        {% if node.subject contains 'data' %}
                        {% if node.categories contains cat %}
                        {% if page.url == node.url %}
                        <li class="active nav"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
                        {% else %}
                        <li class=><a  href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% endfor %}
                      </ul>
                      {% endfor %}

                      
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Accordion demo -->
            
            <li><a href="{{ BASE_PATH }}/resources.html">Data</a></li>
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            
            <!-- Classic dropdown -->
          </ul>
        </div>
      </div>
    </div>


    <!-- <div class="row"> -->
    <div class="col-sm-10 col-sm-offset-1" id="base1">
      <p>Use links above</p>


    </div>
    <!-- </div> -->



  </div>






  <footer>    
    <div class="container-fluid">

      <div class="col-sm-12 footer invert"  >
        <p class='text-center small '>
          &copy; 2014 Thomas R. Cook<br>
          All Rights Reserved <br>
          <a href="/acknowledgements.html" class="small">Technology Acknowledgements</a>  
        </p>
      </div>
    </div>
  </footer>




  <!-- // <script src="/assets/themes/bootstrap/resources/jquery/jquery.min.js"></script> -->
  <script src="/assets/themes/bootstrap/resources/jquery/jquery-1.11.1.min.js"></script>

  <script src="/assets/themes/bootstrap/resources/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/themes/bootstrap/resources/bootstrap/js/jquery-ui-1.10.4.custom.min.js"></script>

  <script>
//<![CDATA[

$(function() {
  $('#navbar').height($("#navbar").height());

  $('#navbar').affix({
    offset: { top: $('#navbar').offset().top }
  });
  $('#navbar').affix({
    offset: { top: $('#navbar').offset().top }
  })
});
//]]>
</script>

<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

</body>
</html>

