{"swagger":"2.0","info":{"version":"1.0.0","title":"SalesViewer API","description":"SalesViewer API is a simple API allowing consumers to sessions and website interactions of their website."},"host":"www.salesviewer.com","basePath":"/api","securityDefinitions":{"apiKeyHeader":{"type":"apiKey","description":"Authentication for each request with api key in header data.","name":"X-SV-APIKEY","in":"header"},"apiKeyQuery":{"type":"apiKey","description":"Authentication for each request with api key in query.","name":"apiKey","in":"query"}},"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/sessions.json":{"get":{"description":"List visitor sessions based on filter","tags":["sessions"],"operationId":"getSessionsJSON","produces":["application/json"],"parameters":[{"name":"from","in":"query","required":false,"default":"-30 days","type":"string","description":"Starting DateTime (any valid DateTime [e.g. RFC3339], relative values [-30 days, -10 Minutes] or UNIX-Timestamps): `-1 year`, `-30 days`, `now`, `2017-02-01`, `2017-02-01 22:30:15`, `1985-04-12T23:20:50.52Z`, `1996-12-19T16:39:57-08:00`, `1937-01-01T12:00:27.87+00:20`"},{"name":"to","in":"query","required":false,"default":"now","type":"string","description":"Ending DateTime (see `from`-paramter)"},{"name":"timezone","in":"query","required":false,"default":"Europe/Berlin","type":"string","description":"Timezone of input and output DateTimes [see List of Timezones](https://www.w3schools.com/php/php_ref_timezones.asp)"},{"name":"locale","in":"query","required":false,"default":"de-DE","type":"string","description":"A valid linux system locale [see List of Locales](https://docs.moodle.org/dev/Table_of_locales#Table)"},{"name":"page","in":"query","required":false,"default":1,"type":"integer","format":"int32","description":"Selected result page"},{"name":"pageSize","in":"query","required":false,"default":100,"type":"integer","format":"int32","description":"Number of entries per page"},{"name":"includeHidden","in":"query","required":false,"default":false,"type":"boolean","description":"Include frontend-hidden companies"},{"name":"includeCompany","in":"query","required":false,"default":true,"type":"boolean","description":"Include company-details"},{"name":"includeCompanySector","in":"query","required":false,"default":true,"type":"boolean","description":"Include company-sector (Note applies only if `includeCompany`-paramter is `true`)"},{"name":"includeVisits","in":"query","required":false,"default":true,"type":"boolean","description":"Include visits details"},{"name":"query","in":"query","required":false,"type":"string","description":"An RQL (__R__esource __Q__uery __L__anguage) formatted query. __Available fields__ are a _superset_ of Session-Object (see model definitions), with dot as field separator (e.g. `sesssion.visits.url`) _Syntax documentation_ see * [RQL Standard](https://doc.apsstandard.org/2.1/spec/rql/) * [Persvr/RQL Github](https://github.com/persvr/rql)\n__Example__ ``` session.duration>='00:00:50' & count(session.visits)=4 ``` _Hint URL parameters should be URL-Encoded_"}],"responses":{"200":{"description":"sessions response","schema":{"$ref":"#/definitions/GetSessionsResponse"}},"400":{"description":"Bad Request - see Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Not authenticated by apiKey as query-parameter or header-value.","schema":{}},"403":{"description":"Authentication wrong or project selection error","schema":{}},"429":{"description":"Rate limiting (see headers)","schema":{}},"default":{"description":"see X-Error-Description header or errorDescription in answer","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKeyQuery":[]},{"apiKeyHeader":[]}]},"post":{"description":"List visitor sessions based on filter","tags":["sessions"],"operationId":"postSessionsJSON","produces":["application/json"],"parameters":[{"name":"from","in":"formData","required":false,"default":"-30 days","type":"string","description":"Starting DateTime (any valid DateTime [e.g. RFC3339], relative values [-30 days, -10 Minutes] or UNIX-Timestamps) e.g. * `-1 year` * `-30 days` * `now` * `2017-02-01` * `2017-02-01 22:30:15` * `1985-04-12T23:20:50.52Z` * `1996-12-19T16:39:57-08:00` * `1937-01-01T12:00:27.87+00:20`"},{"name":"to","in":"formData","required":false,"default":"now","type":"string","description":"Ending DateTime (see `from`-paramter)"},{"name":"timezone","in":"formData","required":false,"default":"Europe/Berlin","type":"string","description":"Timezone of input and output DateTimes [see List of Timezones](https://www.w3schools.com/php/php_ref_timezones.asp)"},{"name":"locale","in":"formData","required":false,"default":"de-DE","type":"string","description":"A valid linux system locale [see List of Locales](https://docs.moodle.org/dev/Table_of_locales#Table)"},{"name":"page","in":"formData","required":false,"default":1,"type":"integer","format":"int32","description":"Selected result page"},{"name":"pageSize","in":"formData","required":false,"default":100,"type":"integer","format":"int32","description":"Number of entries per page"},{"name":"includeHidden","in":"formData","required":false,"default":false,"type":"boolean","description":"Include frontend-hidden companies"},{"name":"includeCompany","in":"formData","required":false,"default":true,"type":"boolean","description":"Include company-details"},{"name":"includeCompanySector","in":"formData","required":false,"default":true,"type":"boolean","description":"Include company-sector (Note applies only if `includeCompany`-paramter is `true`)"},{"name":"includeVisits","in":"formData","required":false,"default":true,"type":"boolean","description":"Include visits details"},{"name":"query","in":"formData","required":false,"type":"string","description":"An RQL (__R__esource __Q__uery __L__anguage) formatted query. __Available fields__ are a _nearly-equal subset_ of Session-Object (see model definitions), with dot as field separator (e.g. `sesssion.visits.url`) _Syntax documentation_ see * [RQL Standard](https://doc.apsstandard.org/2.1/spec/rql/) * [Persvr/RQL Github](https://github.com/persvr/rql)\n__Example__ ``` session.duration>='00:00:50' & count(session.visits)=4 ``` _Hint URL parameters should be URL-Encoded_"}],"responses":{"200":{"description":"sessions response","schema":{"$ref":"#/definitions/GetSessionsResponse"}},"400":{"description":"Bad Request - see Error","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Not authenticated by apiKey as query-parameter or header-value.","schema":{}},"403":{"description":"Authentication wrong or project selection error","schema":{}},"429":{"description":"Rate limiting (see headers)","schema":{}},"default":{"description":"see X-Error-Description header or errorDescription in answer","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"apiKeyQuery":[]},{"apiKeyHeader":[]}]}}},"definitions":{"PaginatedResult":{"title":"PaginatedResult","type":"object","properties":{"pagination":{"$ref":"#/definitions/ResultPagination"}},"required":["pagination"]},"ErrorResponse":{"title":"ErrorResponse","type":"object","properties":{"error":{"description":"Indicated that it' an error","type":"boolean"},"errorDescription":{"description":"Error description","type":"string"},"errorType":{"description":"Error type","type":"string"}}},"CompanySector":{"title":"CompanySector","type":"object","properties":{"id":{"description":"ID of sector","type":"integer","format":"int64"},"name":{"description":"Name of sector","type":"string"}},"required":["id","name"]},"GetSessionsResponse":{"title":"GetSessionsResponse","type":"object","properties":{"totals":{"$ref":"#/definitions/GetSessionsResultTotals"},"result":{"description":"Array of `Session`","type":"array","items":{"$ref":"#/definitions/Session"}}},"required":["totals"],"allOf":[{"$ref":"#/definitions/PaginatedResult"}]},"Session":{"title":"Session","type":"object","properties":{"guid":{"description":"UUID of Session","type":"string"},"startedAt_ts_server":{"description":"Session started at UNIX-Time","type":"string","format":"date-time"},"startedAt":{"description":"Session started at (in given timezone)","type":"string","format":"date-time"},"lastActivityAt_ts_server":{"description":"Session last activity at UNIX-Time","type":"string","format":"date-time"},"lastActivityAt":{"description":"Session last activity at (in given timezone)","type":"string","format":"date-time"},"duration":{"description":"Duration of session in TIME format (Rfc3339 time components)","type":"string","format":"date-time"},"duration_secs":{"description":"Duration of session in seconds","type":"integer","format":"int64"},"language":{"description":"Session language/locale","type":"string"},"isCustomer":{"description":"","type":"string"},"company":{"$ref":"#/definitions/Company"},"visits":{"description":"Session visits of this session. NOTE: if `includeVisits`-parameter set to `false`, result won't contain visits field.","type":"array","items":{"$ref":"#/definitions/SessionVisit"}}},"required":["guid","startedAt_ts_server","startedAt","lastActivityAt_ts_server","lastActivityAt","duration","duration_secs","language","isCustomer"]},"SessionVisit":{"title":"SessionVisit","type":"object","properties":{"id":{"description":"UUID of Session visit","type":"integer","format":"int64"},"startedAt_ts_server":{"description":"Session visit started at UNIX-Time","type":"string","format":"date-time"},"startedAt":{"description":"Session visit started at (in given timezone)","type":"string","format":"date-time"},"lastActivityAt_ts_server":{"description":"Session visit last activity at UNIX-Time","type":"string","format":"date-time"},"lastActivityAt":{"description":"Session visit last activity at (in given timezone)","type":"string","format":"date-time"},"duration":{"description":"Duration of session visit in TIME format (Rfc3339 time components)","type":"string","format":"date-time"},"duration_secs":{"description":"Duration of session visit in seconds","type":"integer","format":"int64"},"url":{"description":"URL of the session visit","type":"string"},"refererMedium":{"description":"Referer parsed `medium`-component","type":"string"},"numEvents":{"description":"Number of events collected during website session","type":"integer","format":"int64"},"referer":{"description":"Referer URL of the session visit","type":"string"},"refererSource":{"description":"Referer parsed `source`-component","type":"string"},"refererTerm":{"description":"Referer parsed `term`-component","type":"string"}},"required":["id","startedAt_ts_server","startedAt","lastActivityAt_ts_server","lastActivityAt","duration","duration_secs","url","refererMedium","numEvents"]},"Company":{"title":"Company","type":"object","properties":{"id":{"description":"ID of company","type":"string"},"street":{"description":"Street of company","type":"string"},"zip":{"description":"Zip of company","type":"string"},"name":{"description":"Name of company","type":"string"},"phone":{"description":"Phone of company","type":"string"},"email":{"description":"E-Mail address of company","type":"string"},"city":{"description":"City of company","type":"string"},"latitude":{"description":"Geographical latitude of company's address","type":"number","format":"double"},"longitude":{"description":"Geographical longitude of company's address","type":"number","format":"double"},"url":{"description":"URL of company's website","type":"string"},"countyCode":{"description":"Country code in (ISO 3166 Alpha 2) format (e.g. `DE`)","type":"string"},"countyCode3":{"description":"Country code in (ISO 3166 Alpha 3) format (e.g. `DEU`)","type":"string"},"isCustomer":{"description":"Indicates if company is marked as customer","type":"boolean"},"isFavorite":{"description":"Indicates if company is marked as favorite","type":"boolean"},"isCompetitor":{"description":"Indicates if company is marked as competitor","type":"boolean"},"sector":{"$ref":"#/definitions/CompanySector"}},"required":["id"]},"ResultPagination":{"title":"ResultPagination","type":"object","properties":{"total":{"description":"Number of total entries","type":"integer","format":"int64"},"isFirst":{"description":"Current page is first page","type":"boolean"},"current":{"description":"Current page number (1-based)","type":"integer","format":"int64"},"isLast":{"description":"Current page is last page","type":"boolean"},"pageSize":{"description":"Size (=number of entries) of each page","type":"integer","format":"int64"}},"required":["total","isFirst","current","isLast","pageSize"]},"GetSessionsResultTotals":{"title":"GetSessionsResultTotals","type":"object","properties":{"sessions":{"description":"Total number of unique sessions","type":"integer","format":"int64"},"companies":{"description":"Total number of unique companies","type":"integer","format":"int64"},"visits":{"description":"Total number of page visits","type":"integer","format":"int64"},"interest_visits":{"description":"Total number of page visits which triggered interest","type":"integer","format":"int64"},"interests":{"description":"Total number of interests triggered","type":"integer","format":"int64"}},"required":["sessions","companies","visits","interest_visits","interests"]}}}